<script schema type="application/json">
    {
        "name": "Page image",
        "icon": "image",
        "settings": {}
    }
</script>

<div class="text-center">
    <img src="{{ page.thumbnail.public_path  }}" class="img-fluid rounded">
</div>