<script schema type="application/json">
    {
        "name": "Page title",
        "icon": "heading",
        "settings": {}
    }
</script>

<div class="container">
    <div class="row">
        <div class="offset-lg-2 col-lg-8">
            <small class="text-muted">{{ __('custom.' ~ page.blog_post_category.name) }}</small>
            <h1 class="fw-bolder">{{ __('custom.' ~ page.title) }}</h1>
        </div>
    </div>
</div>