<script schema type="application/json">
    {
        "name": "Page image",
        "icon": "image",
        "settings": {}
    }
</script>

{% from "macros/optimized_image.twig" import optimized_image %}
<div class="text-center">
    {{ optimized_image({
        path: page.thumbnail.path,
        variants: page.thumbnail.variants,
        alt: schema.settings.alt
    }) }}
</div>