<script schema type="application/json">
    {
        "name": "Slide",
        "icon": "images",
        "description": "Showcase a image with a text and a button.",
        "allowed_sections": "image_slider.twig",
        "settings": {
            "image": {
                "label": "Image",
                "type": "image",
                "default": null
            },
            "heading": {
                "label": "Heading",
                "type": "text",
                "default": "Showcase your products"
            },
            "text": {
                "label": "Text",
                "type": "text",
                "default": "Do it boldly"
            },
            "image_position": {
                "label": "Image position",
                "type": "option",
                "options": {
                    "top": "Top",
                    "center": "Center",
                    "bottom": "Bottom"
                },
                "default": "center"
            },
            "button": {
                "label": "Button",
                "type": "button",
                "default": {
                    "label": "Button",
                    "style": "dark"
                }
            }
        }
    }
</script>

{% from "macros/button.twig" import button %}
{% from "macros/optimized_image.twig" import optimized_image %}

<div class="mb__slider_slide carousel-item {% if schema.index == 0 %}active{% endif %}">
    <div class="mb__slide_parent d-lg-flex align-items-center">
        <div class="col-lg-6 slide-img" >{{ optimized_image({
                path: schema.settings.image.image.path ?? '/monobill/default_slide.jpg{',
                variants: schema.settings.image.image.variants,
                alt: item.product.name
            }) }}</div>
        <div class="order-lg-first col-lg-6 slide-text text-center text-lg-start {% if slide.align_content == 'left' %}left-align{% elseif slide.align_content == 'center' %}center-align{% elseif slide.align_content == 'right' %}right-align{% endif %}">
            <div class="slide-text-container">
                <div class="p-4">
                    {% if schema.settings.heading.value or schema.settings.text.value %}
                        {% if schema.settings.heading.value %}<h4
                                class="slide-subheading">{{ __('custom.' ~ schema.settings.heading.value) }}</h4>{% endif %}
                        {% if schema.settings.text.value %}<h1
                                class="slide-heading">{{ __('custom.' ~ schema.settings.text.value) }}</h1>{% endif %}
                    {% endif %}
                    {% if schema.settings.button.value.label %}
                        <div class="mt-lg-4">
                            {{ button(schema.settings.button.value, 'resizing-btn') }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>