<script schema type="application/json">
    {
        "name": "Category title",
        "allowed_templates": ["category.json"],
        "icon": "heading"
    }
</script>

{% block content %}
<div class="container">
    <div class="text-center pt-5 pb-5">
        <h1 class="fs-3">{{ __('custom.' ~  category.name) }}</h1>
        {% if category.description %}
            <p class="me-auto pt-4" style="max-width: 400px">{{ __('custom.' ~  category.description) }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}