<script schema type="application/json">
    {
        "name": "Products header",
        "allowed_templates": ["products.json"],
        "icon": "heading"
    }
</script>

{% block content %}
<div class="container mt-5 mb-5">
    <h1 class="text-center fs-3">{{ __('titles.products') }}</h1>
</div>
{% endblock %}