<script schema type="application/json">
    {
        "name": "Search results header",
        "allowed_templates": ["search.json"],
        "settings": {}
    }
</script>

        
{% block content %}
<div class="container mt-5 mb-5">
    <h3 class="text-center">{{ __('titles.search_results') }}</h3>
    <div class="row mt-4 mb-4">
        <div class="col-lg-4 offset-lg-4">
            <div class="search-container position-relative d-block border-0">
                <div class="search-box">
                    <form method="get" action="{{ url('/search') }}" class="flex-grow-1">
                        {{ mb_dev_fields | raw }}
                        <div class="input-group">
                            <span class="input-group-text bg-transparent">
                                <i class="mb__search-icon bi bi-search"></i>
                                <svg class="mb__search-spinner" style="display: none; width: 16px; height: 16px;" viewBox="0 0 50 50"><circle class="path" cx="25" cy="25" r="20" fill="none" stroke-width="5"></circle></svg>
                            </span>
                            <input id="mb__search_input" type="search" name="q" value="{{ input('q') }}" class="form-control search-group-input" placeholder="Search..." required>
                        </div>
                    </form>
                </div>
                <div id="mb__search_autocomplete" style="top: 3rem"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}