<script schema type="application/json">
    {
        "name": "Section",
        "icon": "th-large",
        "description": "A container for blocks."
    }
</script>

{% block content %}
<div class="container">
    <blocks></blocks>
</div>
{% endblock %}